img {
    max-width: 150px;
}
html{
    background-color: azure;
    max-width: 960px;
}

body infra{
    float: left;
    align-items: left;
}

body cyber{
    float: right;
    align-items: right;
}

body stackable{
    float: center;
    align-items: center;
}

html {
    background-image: url("../images/certbg.jpg");
    background-size: cover;
    width: 960px;
}
h1 {
    font-size: 60;
    color: white;
    text-shadow: 2px 2px black;
}