 /* Dropdown Button */
 .dropbtn {
    background-color: rgb(107, 107, 107);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
 .dropdown {
    position: relative;
    display: inline-block;
    float: left;
  }
  
  /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 560px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {background-color: rgb(107, 107, 107);} 

 header {
    width: 95%;
    background-color:rgb(107, 107, 107);
    margin: 20px;
    padding: 20px;
    min-height: 50px;
  }




.name{
background-color: rgb(107, 107, 107);
color: white;
padding: 16px;
font-size: 20px;
border: none;
text-align:right;
}
.namedown {
  position: relative;
  display: inline-block;
  float: right;
}
.firstimg img{
  max-width: 30%;
  border-radius: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}
  
body article1{
  height: 500px;
  display: block;
  margin: auto;
  width: 90%;
  border: 3px transparent green;
  padding: 10px;
  background-color:tan;
}

.art1text{
  margin:auto;
  width 95%;
  display: block;
  padding: 25px;
  font-size:40px;
  text-align: center;
}

body article2{
  height: 700px;
  display: block;
  margin: auto;
  width: 90%;
  border: 3px transparent green;
  padding: 10px;
  background-color:grey;
}
article2 img{
  max-width:19%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.art2text{
  margin:auto;
  width: 95%;
  display: block;
  padding: 50px;
  font-size:40px;
  text-align: center;
}

body article3{
  height: 100px;
  display: block;
  margin: auto;
  width: 90%;
  border: 3px transparent green;
  padding: 10px;
  background-color:tan;
}


.art3text{
  margin:auto;
  width: 30%;
  display: inline;
  padding: 5px;
  font-size:200%;
  text-align: center;
}

article4 img{
  width: 25%;
  /* max-width:30%; */
  display:inline-block;
  border-radius: 15%;
  margin-left: auto;
  margin-right: auto;
  margin: 3%;
  align-items: center;
}

body article4{
  height: 500px;
  display: block;
  margin: auto;
  width: 90%;
  border: 3px transparent green;
  padding: 10px;
}
body article5{
  height: 500px;
  display: block;
  margin: auto;
  width: 90%;
  border: 3px transparent green;
  padding: 10px;
}

html{
  /* background-color: rgb(231, 225, 225); */
  background-image: url("../images/pano.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {

}